<a href="https://colab.research.google.com/github/ai-technipreneurs/python_course_colab_notebooks/blob/main/03_Lecture03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <a href="https://aims-senegal.org/" ><img src="images/logoaimssn.jpeg" style="float:left; max-width: 650px; display: inline" alt="AIMS-SN"/> </a>
    </center>



<center>
    
<a href="https://acas-yde.org/" ><img src="images/logo-ACAS.jpg" style="float:right; max-width: 250px; display: inline" alt="ACAS"/></a>
    
</center>

****

# <center> <b> <span style="color:orange;"> Python Proficiency for Scientific Computing and Data Science (PyPro-SCiDaS)  </span> </b></center>

### <center> <b> <span style="color:green;">An Initiation to Programming using Python (Init2Py) </span> </b></center>

****

# <center> <b> <span style="color:blue;"> Lecture 3: Iterable Objects or Containers</span> </b></center>

<!--NAVIGATION-->
<  [2.Variables and assignements](02.Lecture02.ipynb)| [ToC](Index.ipynb) | [4.Flow control](04.Lecture04.ipynb)>

****


### <left> <b> <span style="color:brown;">Instructeur : </span> </b></left>[Yaé Ulrich Gaba](https://github.com/gabayae)

> **Summary:** This lecture aims to present `strings`, reviewing some of the most commonly encountered operations, particularly in text processing tasks. We will also examine the string class in greater detail, including how to use the `open()` function to open, read, and write to `files`.

****

As mentioned in previous sections, a Python program always operates based on the manipulation of objects. The instructions (whether defined in a free code, within an if clause, or in a while or for loop) are always executed on objects. Variables, as previously discussed, represent a particular type of Python object. In general, instructions in a Python program are defined from a collection of objects that come in various forms of value sequences. This sequence of values can, for example, consist of a set of variables with a single value. This ultimately means that a variable defined by a single value is generally not sufficient to form the architecture of a program. In the Python language, we have:

   - A **list** object is a sequence of values (numerical and/or characters) that are **indexed** and specified within **square brackets**, separated by commas. Example:
      ```python
         x = [1, 5, 8, 10, 4, 50, 8] # List consisting only of numbers
         y = ["Olivier", "ENGEL", "Strasbourg"] # List consisting only of characters
         z = [1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg"] # List consisting of both numbers and characters.
       
      ```
     A list object can be generated manually by specifying the values within square brackets or automatically using the `list()` function.
      ```python
        x = list(range(1, 10))
        print(x) # returns [1, 2, 3, 4, 5, 6, 7, 8, 9]
     ```
   - A **tuple** object is a sequence of values (numerical and/or characters) that are **indexed** and specified within **parentheses**, separated by commas. Example:
      ```python
         x = (1, 5, 8, 10, 4, 50, 8) # Tuple consisting only of numbers
         y = ("Olivier", "ENGEL", "Strasbourg") # Tuple consisting only of characters
         z = (1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg") # Tuple consisting of both numbers and characters.
       
      ```
     A tuple object can be generated manually by specifying the values within parentheses or automatically using the `tuple()` function.
      ```python
        x = tuple(range(1, 10))
        print(x) # returns (1, 2, 3, 4, 5, 6, 7, 8, 9)
     ```
     
   - A **set** object is a sequence of values (numerical and/or characters) that are **non-duplicated** and **non-indexed**, and specified within **curly braces**, separated by commas. Example:
      ```python
         x = {1, 5, 8, 10, 4, 50, 8} # Set consisting only of numbers
         y = {"Olivier", "ENGEL", "Strasbourg"} # Set consisting only of characters
         z = {1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg"} # Set consisting of both numbers and characters.
       
      ```
     A set object can be generated manually by specifying the values within curly braces or automatically using the `set()` function.
      ```python
         v = [2, 4, "orange", "meat", 4, "orange"]
         V = set(v)
         print(V) # returns {2, 'orange', 4, 'meat'}
      
      ```
   - A **dictionary** object is a sequence of values (numerical and/or characters) that are **indexed** by keys and specified within **curly braces**, separated by commas. Each `key` corresponds to one or more `values`. A dictionary consists of a set of `key-value` pairs. Example:   
      ```python
         x = {'name': 'Jean', 'weight': 70, 'height': 1.75} # Keys with unique values.
         y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]} # Key with multiple values formed by a list
      
      ```
   In the dictionary `x`, the keys are name, weight, and height. The values corresponding to each of these keys are Jean, 70, and 1.75, respectively.
In the dictionary `y`, the keys are Jean, Paul, and Pierre, while the values are lists consisting of three elements (age, weight, and height).
A dictionary object can be generated manually by specifying the values within curly braces or automatically using the `dict()` function to create an empty dictionary. We will delve more into the definition of dictionaries later.

The four objects we have just mentioned are also what we call `containers` simply because they `can contain` something. Thus, strings, lists, tuples, and dictionaries are the basic iterable objects in Python. Lists and dictionaries are mutable – their elements can be changed on the fly – while strings and tuples are immutable.

The following three objects we mention are not iterable, but we will study them in more detail later on.

   - A **function** object is a program designed to perform a specific operation. For example, the `print()` function is used to display the result of the instruction provided to it on the screen;
   - A **class** object is a collection of functions, that is, an association of related functions;
   - A **module** object is a collection of classes, that is, a collection of related classes."

## 0. Lists


### 0.0. Definition of a list object

A list object can be declared and defined manually or by using the `list()` function. There are two categories of lists: one-dimensional lists (or simple lists) and multi-dimensional lists.

- A simple list is a list whose elements consist of unique values separated by commas.

In [5]:
voltage = [-2.0, -1.0, 0.0, 1.0, 2.0]

courant = [-1.0, -0.5, 0.0, 0.5, 1.0]

print(voltage)
print("============================= \n")
print(courant)

[-2.0, -1.0, 0.0, 1.0, 2.0]
=============================

[-1.0, -0.5, 0.0, 0.5, 1.0]

In [6]:
help(voltage)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [2]:
type(voltage) # Returns the type of the variable 'courant'

list

In [7]:
voltage.append(3.0)

In [8]:
voltage

[-2.0, -1.0, 0.0, 1.0, 2.0, 3.0]

In [3]:
type(courant)

list

In [4]:
help(voltage.sort())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [10]:
voltage.sort()

In [11]:
voltage

[-2.0, -1.0, 0.0, 1.0, 2.0, 3.0]

Moreover, in some situations, you may first create an empty list which will later be filled with values using the `append()` function. To create an empty list, you can use:
`x = list()` or `x = []`.

In [12]:
empty_list = []
type(empty_list)

list

- Unlike a simple list, a multi-dimensional list is a list where the individual elements consist of multiple values. In general, a multi-dimensional list is presented as a list of lists.

In [14]:
x = [[1,2,3],[2,3,4],[3,4,5]] # liste à deux dimensions (liste de listes)

y = [[[1,2],[2,3]],[[4,5],[5,6]]] # liste à trois dimensions (liste de listes de listes)

x,y

([[1, 2, 3], [2, 3, 4], [3, 4, 5]], [[[1, 2], [2, 3]], [[4, 5], [5, 6]]])

In [15]:
type(x)

list

Since a list is a sequence of indexed values, you can access each value or groups of values by specifying their index:

In [16]:
x = list(['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']) # Definition of a list
print(x) # Displays all the elements of the list x

['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']

In [17]:
print(x[0]) # Returns the first element of x: 'Monday' (Note: indexing starts at 0)
print("================================================")
print('\t')

print(x[3]) # Returns the element at index 3 (fourth element of x): 1800
print("================================================")
print('\t')

print(x[1:3]) # Returns all elements between index 1 and index 3 (Note: element at index 3 is excluded)
print("================================================")
print('\t')

print(x[1:6:2]) # Returns all elements between index 1 and index 6 with a step of 2 elements each time ['Tuesday', 1800, 'Thursday'] (element at index 6 is excluded).
print("================================================")
print('\t')

print(x[2:]) # Returns all elements starting from index 2 (inclusive).
print("================================================")
print('\t')

print(x[:3]) # Returns all elements up to but not including index 3
print("================================================")
print('\t')

print(x[-1]) # Negative indexing, returns the last element of the list (equivalent to x[6])
print("================================================")
print('\t')

print(x[-2]) # Negative indexing, returns the second to last element of the list (equivalent to x[5])
print("================================================")
print('\t')

print(x[::2]) # Iterates through all elements between index 0 and the last index, returning every second element ['Monday', 'Wednesday', 20.357, 'Friday'].
print("================================================")
print('\t')

print(x[::-1]) # Returns a list containing all elements of x, rearranged from the last element to the first. This is a reverse of x. Returns ['Friday', 'Thursday', 20.357, 1800, 'Wednesday', 'Tuesday', 'Monday'].
# The same result can be obtained by using x.reverse()
x_rev = x.reverse()
x_rev

Monday
================================================

1800
================================================

['Tuesday', 'Wednesday']
================================================

['Tuesday', 1800, 'Thursday']
================================================

['Wednesday', 1800, 20.357, 'Thursday', 'Friday']
================================================

['Monday', 'Tuesday', 'Wednesday']
================================================

Friday
================================================

Thursday
================================================

['Monday', 'Wednesday', 20.357, 'Friday']
================================================

['Friday', 'Thursday', 20.357, 1800, 'Wednesday', 'Tuesday', 'Monday']

With a multi-dimensional list, indexing is done at multiple levels. For example

In [19]:
x = [[1, 2, 3], [2, 3, 4], [3, 4, 5]]
print(x)
print("================================================")
print('\t')

print(x[0]) # Returns the first sublist [1, 2, 3]
print("================================================")
print('\t')

print(x[0][0]) # Returns the first element of the first sublist, which is 1
print("================================================")
print('\t')

print(x[2]) # Returns the third sublist [3, 4, 5]
print("================================================")
print('\t')

print(x[2][1]) # Returns the element at index 1 of the third sublist, which is 4
print("================================================")
print('\t')

print(x[1:]) # Returns all sublists starting from index 1: [[2, 3, 4], [3, 4, 5]]
print("================================================")
print('\t')

print(x[1:][0]) # Returns the first sublist from the sliced list: [2, 3, 4]
print("================================================")
print('\t')

print(x[-1]) # Returns the last sublist [3, 4, 5]
print("================================================")
print('\t')

print(x[1][:2]) # Returns the first two elements of the second sublist: [2, 3]
print("================================================")
print('\t')

print(x[1][1:]) # Returns elements from index 1 to the end of the second sublist: [3, 4]

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]
================================================

[1, 2, 3]
================================================

1
================================================

[3, 4, 5]
================================================

4
================================================

[[2, 3, 4], [3, 4, 5]]
================================================

[2, 3, 4]
================================================

[3, 4, 5]
================================================

[2, 3]
================================================

[3, 4]

### 0.1. The `range()` Function

Value sequences are variables that are frequently encountered in Python programs. They represent a set of successive and ordered values that can be extracted like a list. Value sequences are generated using the `range()` function.

The function has the following syntax:

```python
range(start, stop, step)
```

 - start (optional): The value of the first number in the sequence. If omitted, the sequence starts from 0.
 - stop: The end of the sequence. This value is not included in the sequence.
 - step (optional): The difference between each pair of consecutive values in the sequence. If omitted, the default step is 1.

Example:

In [20]:
x = range(10) # Creates a sequence of integer values from 0 to 9
print(x)
print("================================================")
print('\t')

x = range(2, 10) # Creates a sequence of integer values from 2 to 9
print(x)
print("================================================")
print('\t')

x = range(1, 10, 2) # Creates a sequence of integer values from 1 to 9 with a step of 2. It returns 1, 3, 5, 7, and 9
print(x)

range(0, 10)
================================================

range(2, 10)
================================================

range(1, 10, 2)

To display the generated values, you can use the `list()` function, as shown below:

In [22]:
x = range(10)

print(list(x)) # Returns a list: values in square brackets [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 0.2. Operations on Lists

Once a list is defined, several operations can be performed to modify its structure or its elements.

- To find the number of elements in a list, we use the `len()` function. Example: consider the list `x` defined as follows:
```python
   x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
```
To find the length of `x` (the number of elements in `x`), we do:
```python
    print(len(x)) # returns 7
```

In [23]:
x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
print(len(x)) # returns 7

7

- We can concatenate two lists to form a single list using the `+` operator, which allows for list concatenation:
```python
   x = ['giraffe', 'tiger']
   y = ['monkey', 'mouse']
   z = x + y
   print(z) # returns ['giraffe', 'tiger', 'monkey', 'mouse']
```

In [24]:
x = ['giraffe', 'tiger']
y = ['monkey', 'mouse']
z = x + y
print(z) # returns ['giraffe', 'tiger', 'monkey', 'mouse']

['giraffe', 'tiger', 'monkey', 'mouse']

- We can repeat the elements of a list using the multiplication operator `*`:
```python
    x = ['giraffe', 24, 18, 'tiger', 2400, 150]
    y = x * 3
    print(y) # returns ['giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150]
```

In [25]:
x = ['giraffe', 24, 18, 'tiger', 2400, 150]
y = x * 3
print(y) # returns ['giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18,
         # 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150]

['giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150]

- It is possible to modify a particular element in a list by using its index:
```python
    x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
    x[3] = x[3] + 100
    print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday']
    
    x[6] = x[6] + ' Saint' # Note the space in ' Saint', otherwise you'll get 'FridaySaint'.
    print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint']
```

In [28]:
x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
x[3] = x[3] + 100
print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday']

print("==================================================================\n")
x[6] = x[6] + ' Saint' # Note the space in ' Saint', otherwise you'll get 'FridaySaint'.
print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint']

['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday']
==================================================================

['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint']

- New elements can be added in addition to the initial elements. For this, we use the `append()` function:
```python
    x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
    x.append('Saturday')
    x.append('Sunday')
    print(x)
```

In [30]:
first = 'first'
x[2] = x[2] + first
x

['Monday',
 'Tuesday',
 'Wednesday !first',
 1900,
 20.357,
 'Thursday',
 'Friday Saint']

In [27]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.append('Saturday')
x.append('Sunday')
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

As we can see, the `append()` function can only add one element to a list at a time. Therefore, we can use the `extend()` function when we want to add multiple elements at once. Example:
```python
    x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
    x.extend(['Saturday', 'Sunday'])
    print(x)
```

In [ ]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.extend(['Saturday', 'Sunday'])
print(x)

****
For further study, explore the following methods and how they operate on lists:
`insert()`, `remove()`, `delete()`, `index()`, `count()`, `join()`, `zip()`.
***

<left> <b> <span style="color:brown;">Given that their usage is quite uncommon, we will not cover `tuple` and `set` objects in this course. The brief presentation given above is relatively sufficient, and readers who explicitly need more information can consult the extensive documentation available online. </span> </b></left>

However, we can mention that a `set` is an unordered iterable collection of distinct hashable elements and that classic mathematical operations on sets can be performed in Python. For example:

<center>
    <img src="images/set.png" width="20%></center>

```python
   X, Y = set('abcd'), set('sbds')
   print("X =", X) # X = {'a', 'c', 'b', 'd'}
   print("Y =", Y) # Y = {'s', 'b', 'd'} : only one element 's'
    
   print('c' in X)  # True
   print('a' in Y)  # False
   print(X - Y)     # {'a', 'c'}
   print(Y - X)     # {'s'}
   print(X | Y)     # {'a', 'c', 'b', 'd', 's'}
   print(X & Y)     # {'b', 'd'}
```

In [37]:
X, Y = set('abcd'), set('sbds')
print("X =", X) # X = {'a', 'c', 'b', 'd'}
print("=========================================\n")

print("Y =", Y) # Y = {'s', 'b', 'd'} : only one element 's'
print("=========================================\n")

print('c' in X)  # True
print("=========================================\n")

print('a' in Y)  # False
print("=========================================\n")

print(X - Y)     # {'a', 'c'}
print("=========================================\n")

print(Y - X)     # {'s'}
print("=========================================\n")

print(X | Y)     # {'a', 'c', 'b', 'd', 's'}
print("=========================================\n")

print(X & Y)     # {'b', 'd'}

X = {'c', 'a', 'd', 'b'}
=========================================

Y = {'s', 'd', 'b'}
=========================================

True
=========================================

False
=========================================

{'c', 'a'}
=========================================

{'s'}
=========================================

{'c', 'd', 'a', 's', 'b'}
=========================================

{'d', 'b'}

## 1. Dictionaries

### 1.0. About dictionaries

In Pythonic design, a dictionary (also called a map) is a versatile collection of objects that adheres to the `key-value` principle. Unlike lists, where elements are accessed by their position or index, dictionaries use unique keys to identify and retrieve values. These keys are typically strings but can also be other immutable types, such as numbers or tuples. This key-value structure allows for efficient lookups, additions, and deletions, making dictionaries a powerful tool for organizing and managing data in a more intuitive and flexible way compared to lists.

In [31]:
x = {'name': 'Jean', 'age': 25, 'weight': 70, 'height': 1.75}
y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
z = {'Jean': (25, 70, 1.75), 'Paul': (30, 65, 1.80), 'Pierre': (35, 75, 1.65)}
k = {'name': 'Jean', 'biometrics': [25, 70, 1.75], 'score': (12, 17, 15), 'rank': 25}

The four variables above represent **four** typical ways to define a dictionary. Variable `x` is a dictionary where the keys are **name, age, weight, and height**. The corresponding values are **Jean, 25, 70**, and **1.75**. In the definition of `x`, it is noted that each key corresponds to a unique value. However, it is very common to associate multiple values with a single key. This is the case with dictionary `y`.

###  1.1. Operations on dictionaries

 - To access the elements of a dictionary, you use the keys. The method `keys()` returns the list of keys in the dictionary, and the method `values()` returns the values.
  ```python
     X = {'name': 'Jean', 'age': 25, 'weight': 70, 'height': 1.75}
     print(X.keys())  # returns ['name', 'age', 'weight', 'height']
     print(X.values()) # returns ['Jean', 25, 70, 1.75]   
     print(X['name'])  # returns 'Jean'   
     x = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
     print(x['Jean']) # returns [25, 70, 1.75]
     print(x['Jean'][0]) # returns 25
     print(x['Jean'][0:2]) # returns [25, 70]   
  ```

In [35]:
X = {'name': 'Jean', 'age': 25, 'weight': 70, 'height': 1.75}
print("=========================================\n")

print(X.keys())  # returns ['name', 'age', 'weight', 'height']
print("=========================================\n")

print(X.values()) # returns ['Jean', 25, 70, 1.75]
print("=========================================\n")

print(X['name'])  # returns 'Jean'
print("=========================================\n")

x = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
print("=========================================\n")

print(x['Jean']) # returns [25, 70, 1.75]
print("=========================================\n")

print(x['Jean'][0]) # returns 25
print("=========================================\n")

print(x['Jean'][0:2]) # returns [25, 70]

=========================================

dict_keys(['name', 'age', 'weight', 'height'])
=========================================

dict_values(['Jean', 25, 70, 1.75])
=========================================

Jean
=========================================

=========================================

[25, 70, 1.75]
=========================================

25
=========================================

[25, 70]

- Adding or modifying keys or values: You can modify a dictionary by either changing existing keys and values or by adding new ones. You can also remove values as well as keys.

```python
  x = {} # Creates an empty dictionary. You could also use x = dict()
  x['name'] = 'Jean' # Adds the key-value pair 'name' and 'Jean' to the initial dictionary x
  x['biometrics'] = [25, 70, 1.75] # Adds the key-value pair 'biometrics' and [25, 70, 1.75] to dictionary x
  x['biometrics'] = [30, 70, 1.80] # Modifies the values of the 'biometrics' key by redefining it
  x['biometrics'][0] = 2 # Modifies the element at index 0 in the list of values corresponding to the 'biometrics' key (previously defined)

  Y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
  del Y['Jean'] # Deletes the key 'Jean' and all its corresponding values
  del Y['Paul'][0] # Deletes the element at index 0 in the value sequence corresponding to the key 'Paul'. For a key with a single value, use del x['keyName'] where 'keyName' is the name of the key with the single value.

```

In [34]:
x = {} # Creates an empty dictionary. You could also use x = dict()
print(x)
print("=========================================\n")

x['name'] = 'Jean' # Adds the key-value pair 'name' and 'Jean' to the initial dictionary x
print(x)
print("=========================================\n")

x['biometrics'] = [25, 70, 1.75] # Adds the key-value pair 'biometrics' and [25, 70, 1.75] to dictionary x
print(x)
print("=========================================\n")

x['biometrics'] = [30, 70, 1.80] # Modifies the values of the 'biometrics' key by redefining it
print(x)
print("=========================================\n")

x['biometrics'][0] = 2 # Modifies the element at index 0 in the list of values corresponding to the 'biometrics' key (previously defined)
print(x)
print("=========================================\n")



Y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
print(Y)
print("=========================================\n")

del Y['Jean'] # Deletes the key 'Jean' and all its corresponding values

del Y['Paul'][0] # Deletes the element at index 0 in the value sequence corresponding to the key 'Paul'. For a key with a single value, use del x['keyName'] where 'keyName' is the name of the key with the single value.


print(Y)

{}
=========================================

{'name': 'Jean'}
=========================================

{'name': 'Jean', 'biometrics': [25, 70, 1.75]}
=========================================

{'name': 'Jean', 'biometrics': [30, 70, 1.8]}
=========================================

{'name': 'Jean', 'biometrics': [2, 70, 1.8]}
=========================================

{'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.8], 'Pierre': [35, 75, 1.65]}
=========================================

{'Paul': [65, 1.8], 'Pierre': [35, 75, 1.65]}

- To rename a key in a dictionary, you use the `pop()` function as defined in the following example:

```python
x = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
x['John'] = x.pop('Jean') # Renames the key 'Jean' to 'John'
print(x)

```

x = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
print(x)

x['John'] = x.pop('Jean') # Renames the key 'Jean' to 'John'
print(x)

<!--NAVIGATION-->
<  [2.Variables and assignements](02_Lecture02.ipynb)| [ToC](Index.ipynb) | [4.Flow control](04_Lecture04.ipynb)>

---

### Exercise 1:
Create a list of integers from 1 to 10.


```python
# Exercise 1
```

In [44]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [45]:
fruits = ('apple', 'banana', 'cherry')
fruits

('apple', 'banana', 'cherry')

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [46]:
numbers = [10, 20, 30, 40]
numbers = tuple(numbers)
numbers

(10, 20, 30, 40)

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [47]:
set(range(6))

{0, 1, 2, 3, 4, 5}

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [48]:
info = {"name":"Alice", "age":20, "grade":"A"}
info

{'name': 'Alice', 'age': 20, 'grade': 'A'}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [39]:
[10, 20, 30, 40, 50][1]

20

In [40]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = 'mango'
fruits

['apple', 'banana', 'mango', 'orange']

In [41]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

In [42]:
person = {"name": "John", "age": 25, "city": "New York"}
del person['age']
person

{'name': 'John', 'city': 'New York'}

In [43]:
range(10)

range(0, 10)

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [50]:
square = [x**2 for x in range(1,12)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [52]:
even = tuple(x for x in range(2, 11, 2))
even

(2, 4, 6, 8, 10)

In [53]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [54]:
numbers = {1, 2, 3, 4, 5}
3 in numbers

True

In [55]:
numbers = (10, 20, 30)
len(numbers)

3

In [56]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [57]:
numbers = [1, 2, 3, 4, 5]
sum(numbers)

15

In [58]:
numbers = [1, 2, 2, 3, 4, 4, 5]
my_set = set(numbers)
my_set

{1, 2, 3, 4, 5}

In [59]:
list("hello")

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [60]:
def reverse(seq:tuple):
    reverse_seq = seq[::-1]
    return reverse_seq

reverse((1, 2, 3))

(3, 2, 1)

In [63]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [64]:
my_dict = {x:x**2 for x in range(1,6)}
my_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [65]:
my_dict = {"a": 1, "b": 2}
for (key, value) in my_dict.items():
    print((key, value))

('a', 1)
('b', 2)

In [66]:
help(chr)

Help on built-in function chr in module builtins:

chr(i, /)
    Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.

In [72]:
list(chr(i) for i in range(5))

[b'\x00', b'\x01', b'\x02', b'\x03', b'\x04']

In [78]:
my_list = [(x, y) for x, y in zip([1, 2, 3], ["a", "b", "c"])]
my_list

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [79]:
[10, 20, 30, 40, 50].index(50)

4

In [80]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
names

['Alice', 'Bob', 'Charlie', 'David']

In [81]:
def list_max(seq:list):
    return max(seq)

list_max([1, 2, 4, 5])

5

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [82]:
fruits = ["apple", "banana", "apple", "orange"]
fruits.count('apple')

2

In [84]:
person = {"name":'alice', "age":25, "city":"New York"}
person['city']

'New York'

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---